.aws-btn {
    --slider-height-percentage: 35%;
    --slider-transition-duration: 700ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #D4AF37;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: rgba(0,0,0,0);
    --control-bullet-active-color: rgba(0,0,0,0);
    --loader-bar-color: #D4AF37;
    --loader-bar-height: 6px;
}